version: "3.8"

services:
  traefik:
    image: traefik:v3.6
    container_name: traefik
    command:
      - "--api.insecure=true"
      - "--log.level=DEBUG"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=foxbase-nifi_default"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=guillermoalvarado89@gmail.com"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
    
    ports:
      - "443:443"
      - "8080:8080"
    
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./letsencrypt:/letsencrypt
    
    networks:
      - default

  nifi:
    image: apache/nifi:2.6.0
    container_name: nifi
    restart: unless-stopped
    
    environment:
      SINGLE_USER_CREDENTIALS_USERNAME: ${NIFI_USER}
      SINGLE_USER_CREDENTIALS_PASSWORD: ${NIFI_PASSWORD}
      NIFI_WEB_HTTPS_HOST: nifi.kliodata.ai
      NIFI_WEB_HTTPS_PORT: 8443
      NIFI_WEB_PROXY_HOST: nifi.kliodata.ai:443
    
    volumes:
      - ./nifi_data:/opt/nifi/nifi-current/data
    
    networks:
      - default
    
    healthcheck:
      test: ["CMD", "curl", "-k", "https://localhost:8443/nifi"]
      interval: 30s
      timeout: 10s
      retries: 10
    
    labels:
      - "traefik.enable=true"
      
      # Router principal
      - "traefik.http.routers.nifi.rule=Host(`nifi.kliodata.ai`)"
      - "traefik.http.routers.nifi.entrypoints=websecure"
      - "traefik.http.routers.nifi.tls=true"
      - "traefik.http.routers.nifi.tls.certresolver=myresolver"
      
      # Servicio backend
      - "traefik.http.services.nifi-svc.loadbalancer.server.port=8443"
      - "traefik.http.services.nifi-svc.loadbalancer.server.scheme=https"
      
      # Conectar router con servicio
      - "traefik.http.routers.nifi.service=nifi-svc"
      
      # ServersTransport para ignorar certificados autofirmados
      - "traefik.http.serversTransports.nifi-transport.insecureSkipVerify=true"
      - "traefik.http.services.nifi-svc.loadbalancer.serversTransport=nifi-transport"

networks:
  default:
    driver: bridge